* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border: solid 1px orange;
  height: 100vh;
}

/* NavBar */
.side-nav {
  background: #1f1f3d;
  width: 25vw;
}

.logo {
  color: #e9e9f3;
  margin: 10px;
}

.nav-btn {
  color: #e9e9f3;
  background: #5356a4;
  padding: 10px 15px;
  border: none;
  font-weight: bold;
  margin: 15px;
}

.sub-heading   {
  color: #BFBFDD;
  margin: 15px;
}

hr {
  background-color: #353567;
}

/* Form */
main {
  display: flex;
  flex-direction: column;
  align-items: center;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px red;
  background: #A9AAD2;
  color: #1f1f3d;
  width: 74.5vw;
}

.input {
  width: 100px;
}

.label {
  width: 100px;
}

.save-button {
  border: none;
  background: #1f1f3d;
}


/* Cards */

.card {
  outline: 1px solid black;
  width: 300px;
  height: 325px;
}

.card-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  outline: 1px solid black;
  background-color: #1f1f3d;
  height: 30px;

}
.star {

}

.card-body {
  background: #FFFFFF;
  width: 250px;
  margin-top: 10px;
  margin-left: 10px;
}

.card-body h2 {

}

.card-body p {
  font-weight: lighter;
  margin-top: 10px;
}

.card-footer {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  background: #5356A4;
  outline: 1px solid gold;
  height: 30px;
}

.card-footer p {
  margin-block: auto;
}



.hidden {
  display: none;
}
